.skin-chuck-blue .navbar .dropdown-menu > li > a {
    color: #040404;
}

/* skin-chuck-blue navbar */
.skin-chuck-blue .navbar {
    background-color: #040404;
}

.skin-chuck-blue .navbar .nav a {
    color: rgba(255, 255, 255, 0.8);
}

.skin-chuck-blue .navbar .nav > li > a:hover,
.skin-chuck-blue .navbar .nav > li > a:active,
.skin-chuck-blue .navbar .nav > li > a:focus,
.skin-chuck-blue .navbar .nav .open > a,
.skin-chuck-blue .navbar .nav .open > a:hover,
.skin-chuck-blue .navbar .nav .open > a:focus {
    background: rgba(0, 0, 0, 0.1);
    color: #737372;
}

.skin-chuck-blue .navbar .navbar-right > .nav {
    margin-right: 10px;
}

.skin-chuck-blue .navbar .sidebar-toggle .icon-bar {
    background: rgba(255, 255, 255, 0.8);
}

.skin-chuck-blue .navbar .sidebar-toggle:hover .icon-bar {
    background-color: #ffffff !important;
}

/* skin-chuck-blue logo */
.skin-chuck-blue .logo {
    background: url(../img/logo_customer6.png) no-repeat;
    background-color: #252830;

}

.skin-chuck-blue .logo > a {
    background: url(../img/logo_customer6.png) no-repeat;
    background-color: #c6c7c8;
}

/* skin-chuck-blue content header */
.skin-chuck-blue .right-side > .content-header {
    background: #252830;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

/* Skin-blue user panel */
.skin-chuck-blue .user-panel > .image > img {
    border: 2px solid #c6c7c8;
}

.skin-chuck-blue .user-panel > .info,
.skin-chuck-blue .user-panel > .info > a {
    color: #ffffff;
}

/* skin-chuck-blue sidebar */
.skin-chuck-blue .sidebar {
    border-bottom: 0px solid #040404;
}

.skin-chuck-blue .sidebar > .sidebar-menu > li {
    /*border-top: 1px solid #c6c7c8;*/
    /*border-bottom: 1px solid #c6c7c8;*/

}

.skin-chuck-blue .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 0px solid #dbdbdb;

}

.skin-chuck-blue .sidebar > .sidebar-menu > li:first-of-type > a {
    border-top: 0px solid #ffffff;

}

.skin-chuck-blue .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
    color: #ffffff;
}

.skin-chuck-blue .sidebar > .sidebar-menu > li > a:hover,
.skin-chuck-blue .sidebar > .sidebar-menu > li.active > a {
    color: #fff;
    background: #1ca8dd;
    font-weight: bold;
}

.skin-chuck-blue .sidebar > .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #040404;
}

.skin-chuck-blue .left-side {
    background: #252830;
    -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
    box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}

.skin-chuck-blue .sidebar a {
    color: #c6c7c8;
}

.skin-chuck-blue .sidebar a:hover {
    text-decoration: none;
}

.skin-chuck-blue .treeview-menu > li > a {
    color: #c6c7c8;
}

.skin-chuck-blue .treeview-menu > li.active > a,
.skin-chuck-blue .treeview-menu > li > a:hover {
    color: #c6c7c8;
}

.skin-chuck-blue .sidebar-form {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    margin: 10px 10px;
}

.skin-chuck-blue .sidebar-form input[type="text"],
.skin-chuck-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    height: 35px;
}

.skin-chuck-blue .sidebar-form input[type="text"] {
    color: #666;
    -webkit-border-top-left-radius: 2px !important;
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -webkit-border-bottom-left-radius: 2px !important;
    -moz-border-radius-topleft: 2px !important;
    -moz-border-radius-topright: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    -moz-border-radius-bottomleft: 2px !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 2px !important;
}

.skin-chuck-blue .sidebar-form input[type="text"]:focus,
.skin-chuck-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-chuck-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}

.skin-chuck-blue .sidebar-form .btn {
    color: #999;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 2px !important;
    -moz-border-radius-bottomright: 2px !important;
    -moz-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 0 !important;
}

/**Additions**/
.impersonate-sticky-info {
    background-color: #040404;
    border: 1px solid #fff;
    margin-top: -1px;
}

a, a:hover {
    color: #1ca8dd;;
}

.box.box-primary {
    border-top-color: #040404;
}

.box .box-header {
    border-bottom: 1px solid #040404;
}

.btn.btn-primary {
    color: #1997c6;
    background-color: transparent;
    border-color: #1997c6;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #1997c6;
    box-shadow: none;
}

footer {
    padding: 2px 5px 2px 5px;
    background: #040404;
    color: #ffffff;
}

.content {
    padding: 20px 15px;
    background: #252830;
}

.right-side > .content-header > .breadcrumb > li > a {
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #1ca8dd;
}

.box {
    position: relative;
    background: #252830;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.bg-yellow {
    background-color: #e4d836 !important;
}

.bg-red {
    background-color: #e64759 !important;
}

.bg-purple {
    background-color: #9f86ff !important;
}

.bg-orange {
    background-color: #DE800B !important;
}

.bg-maroon {
    background-color: #BF0217 !important;
}

.bg-aqua {
    background-color: #1ca8dd !important;
}

.callout.callout-info {
    background-color: #1ca8dd !important;
    border-color: #fff123;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.small-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 90px;
    color: #ffffff;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #000000;
    font-weight: bold;
    vertical-align: middle;
}

.grid-filter-cell input, .grid-filter-cell select {
    font-size: 10px;
    outline: none;
    border: 1px solid #c2c2c2;
    margin: 0;
    padding: 0;
    color: #000;
}

.box .box-footer {
    border-top: 1px solid #f4f4f4;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background-color: #252830;
}

.grid-filter-cell input, .grid-filter-cell select {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #434857;
    background-image: none;
    border: 1px solid #434857;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #252830;
    background-color: #fff;
    box-shadow: none;;
}

.skin-chuck-blue .sidebar > .sidebar-menu > li > .treeview-menu {
    margin: 0;
    background: #434857;
    color: #fff;
    font-weight: bold;
    border-left: 5px solid #FFF706;

}

.sidebar .sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    font-size: 14px;
}

.fa-angle-double-right:before {
    content: " ";
}

.sidebar .sidebar-menu .treeview-menu > li > a:hover {
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    color: #1ca8dd;
}

.glyphicon-list-alt:before {
    content: "\e012";
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.table-bordered {
    border: 1px solid #434857;
    font-weight: bold;
}

.even:hover {
    background-color: #e64759;
}

.odd:hover {
    background-color: #e64759;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #e64759;
}